* {
box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  background-color: #98f3c9;
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
}

body{
  background-color: #830b0b;
}

@media(min-width: 650px) {
  	.column1 {
  		float: left;
      width: 66.6%;
    }
    .column2 {
      float: right;
      width: 33.3%;
      padding-left: 10px;
    }
}
